# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Environment variables
.env

# Django-specific
*.log
local_settings.py


# Tailwind / Node
node_modules/
dist/
npm-debug.log

# VS Code
.vscode/